<div>
    <h1>User Panel</h1>
    <mat-tab-group style="text-align: center;">
        <mat-tab label="Shop">
            <!--"Select items" function-->
        </mat-tab>
        <mat-tab label="Orders">
            <!--Order functions-->
            <br/>
            <button type="button" (click)="orderStatus()">Load Orders</button><br/><br/>
            <div [innerHTML]="orderTable"></div>
        </mat-tab>
        <mat-tab label="Edit Profile">
            <!--Edit profile functions-->
        </mat-tab>
        <mat-tab label="Add Funds">
            <!--Funding functions-->
        </mat-tab>
    </mat-tab-group>
</div>
