<div>
    <h2>Register New User</h2>
    <a routerLink="/userLogin">Back to Login</a>
    <br><br>
    <form #registerRef="ngForm" (ngSubmit)="registerUser(registerRef)">
        <mat-form-field>
            <mat-label>First name</mat-label>
            <input matInput name="firstname" ngModel required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Last name</mat-label>
            <input matInput name="lastname" ngModel required>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput name="email" ngModel required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="picker" name="dob" ngModel required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Phone Number</mat-label>
            <input matInput name="phone" ngModel required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput name="address" ngModel required>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" name="password" ngModel required>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" name="repassword" ngModel required>
        </mat-form-field>
        <br>
        <button type="submit" mat-raised-button color="primary" [disabled]="registerRef.invalid">Register</button>
        <!-- 
        <mat-label>Phone Number:</mat-label>
        <input matInput name="phone" ngModel required><br>
        <mat-label>Address:</mat-label>
        <input matInput name="address" ngModel required><br>
        <mat-label>Password:</mat-label>
        <input type="password" name="password" ngModel required><br>
        <mat-label>Confirm password:</mat-label>
        <input type="password" name="repassword" ngModel required><br>
        <input type="submit" value="Register" [disabled]="registerRef.invalid"> -->
    </form>
    <p>{{registrationMessage}}</p>
</div>
