<div>
    <h2>Register New User</h2>
    <form>
        <label>First name:</label>
        <input type="text" name="firstname"><br>
        <label>Last name:</label>
        <input type="text" name="lastname"><br>
        <label>Email:</label>
        <input type="email" name="email"><br>
        <label>Date of Birth:</label>
        <input type="date" name="dob"><br>
        <label>Phone Number:</label>
        <input type="text" name="phone"><br>
        <label>Address:</label>
        <input type="text" name="address"><br>
        <label>Password:</label>
        <input type="password" name="password"><br>
        <label>Confirm password:</label>
        <input type="password" name="repassword"><br>
        <input type="submit" value="Register">
    </form>
</div>
